<!-- form-intro.html -->
<div class="steps-wrapper">
    <div class="steps">
        APPLY IN 3 EASY STEPS!
        <i class="steps-triangle"></i>
    </div>
    <div class="step-1 steps">
        <h1>Step 1</h1>
        <h2>Basics</h2>
        <p>Answer 5 basic questions about yourself to get started.</p>
        <i class="steps-triangle step-triangle-1"></i>
    </div>
    <div class="step-2 steps">
        <h1>Step 2</h1>
    <h2>Interview</h2>
        <p>Prepare for your interview with a government worker with our interview guide.</p>
        <i class="steps-triangle step-triangle-2"></i>
    </div>
    <div class="step-3 steps">
        <h1>Step 3</h1>
        <h2>DOCUMENTS</h2>
        <p>Text us your documents or upload them online, and we’ll fax them in for you.  Boom! You’re done.</p>
        <i class="steps-triangle step-triangle-3"></i>
    </div>
</div>

<button class="yellow-button" ng-click="initNameStart()" >Get started</button>

<info-footer></info-footer>
