<h1>What is your name?</h1>

<div class="form-group" ng-class="{'has-error': snapForm.first_name.$invalid}" ng-hide="completed_first_name">
    <input class="form-control" type="text" placeholder="First name" name="first_name" id="first_name" autofocus ng-model="formData.name.first_name" ng-enter required/>
    <span class="help-block" ng-show="submitted_name && (snapForm.first_name.$error.required)">First Name Required</span>

</div>


<div class="form-group" ng-class="{'has-error': snapForm.last_name.$invalid}">
    <input class="form-control" type="text" placeholder="Last name" name="last_name" id="last_name" ng-model="formData.name.last_name" ng-enter required/>
    <span class="help-block" ng-show="submitted_name && (snapForm.last_name.$error.required)">Last Name Required</span>
</div>

<div class="yellow-button" ng-class="{'disabled':(snapForm.last_name.$invalid || snapForm.first_name.$invalid)}"  ng-click="completedName()">Continue</div>
