<h1>How many hours do you work per month?</h1>

<h6 for="monthly_hours_wk">Hours per Week</h6>
<input ng-model="user.hours_wk" id="monthly_hours_wk" type="number" class="name-input income-input" name="weekly_hours">

<h6 for="weeks_monthly">Weeks per Month</h6>
<input ng-model="user.wk_month" id="weeks_monthly" type="number" class="name-input income-input" name="weeks_monthly">

        
<div ng-show="hasApplyingMembers()" class="yellow-button" ui-sref="int.income-household-amount">Continue</div>
<div ng-show="!hasApplyingMembers()"  class="yellow-button" ng-click="$emit('int-main', 'income')" ui-sref="int.main">Continue</div>
