<h1>Household members monthly hours worked?</h1>

<div ng-repeat="person in user.household_members track by $index" class="household-income" ng-show="person.applying">
    <h5>Hours worked per month for {{ person.name }}</h5>

    <h6 for="{{$index}}_monthly_hours_wk">Hours per Week</h6>
    <input ng-model="person.hours_wk" id="{{$index}}_monthly_hours_wk" type="number" class="name-input income-input" name="weekly_hours">

    <h6 for="{{$index}}_weeks_monthly">Weeks per Month</h6>
    <input ng-model="person.wk_month" id="{{$index}}_weeks_monthly" type="number" class="name-input income-input" name="weeks_monthly">

</div>

<div class="yellow-button" ng-click="$emit('int-main', 'income')" ui-sref="int.main">Continue</div>