<h1>What’s your marital status?</h1>
<input ng-model="user.marital" id="single" type="radio" class="name-input marital-input" value="Single"  name="marital"><label
        for="single">Single</label>
<br/>
<input ng-model="user.marital" id="married" type="radio" class="name-input marital-input" value="Married" name="marital"><label
        for="married">Married</label>
    <br/>
<input ng-model="user.marital" id="divorced" type="radio" class="name-input marital-input" value="Divorced" name="marital"><label
        for="divorced">Divorced</label>

<div class="yellow-button" ui-sref="int.disabled">Continue</div>